*{
  box-sizing: border-box;
}


body{
  background-color: rgb(31, 29, 29) ;
  align-items: center;
  overflow-y: scroll; 
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  .app_container{
    width: 400px;
    margin: auto;
    height: 900px;
    z-index: 0;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
body::-webkit-scrollbar {
  display: none;
}

body {
-ms-overflow-style: none;  
scrollbar-width: none;  
}
